
.container {
    position: fixed;
    bottom: 1.5rem;
    width: 270px;
    height: 50px;
    right: 4.5rem;
    z-index: 100;
}

.flexZoom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    background: var(--surface2);
}